  
       table{
           background: white; /* Цвет фона таблицы */
           color: black; /* Цвет текста */
           border: 2px solid black;
           border-collapse: collapse;
       }
        td{
            background: rgba(S115, 243, 239, 0.925); /* Цвет фона ячеек */
            border: 1px solid black;
        }
        th{
            background: white; /* Цвет фона ячеек */
            border: 2px solid black;
        }
        .colored{
            background: green;
            color:white;
        }
        li{
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
		.my-font{
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		}